KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_TOPIC=amazon_reviews
KAFKA_STARTING_OFFSETS=latest
KAFKA_MAX_OFFSETS_PER_TRIGGER=

STREAM_DATA_PATH=data/processed/test_reviews.jsonl
PRODUCER_SLEEP_SECONDS=0.2
PRODUCER_START_ROW=0

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=amazon_reviews_db
MONGO_COLLECTION=sentiment_predictions
MONGO_SOURCE=spark_structured_streaming

STREAMING_MODEL_NAME=one_vs_rest_linear_svc
STREAMING_MODEL_PATH=src/spark/model/ensemble_models/one_vs_rest_linear_svc
STREAMING_CHECKPOINT_LOCATION=data/processed/checkpoints/spark_streaming_best_single_model
ENABLE_STREAMING_LEMMATIZATION=1
SPARK_DRIVER_MEMORY=4g

REQUIRED_PRODUCT_ID=B001E4KFG0
ANALYTICS_SCAN_LIMIT=100000
